$glendaleWhite: #fff;
$glendaleGreen: lighten(#95bf37, 10%);
$glendaleDarkGreen: #394831;
$glendaleBlue: #193051;
$glendaleBlue: #0B3c5d;
$glendaleLightBlue: #328cc1;
$glendaleGrey:#696969;
$glendaleLightGrey: lighten($glendaleGrey, 25%);
$glendaleDarkGrey: #555555;
$glendaleBlack: #343434;


// font-family: 'Open Sans', sans-serif;
// font-family: 'Montserrat', sans-serif;
